.like-btn {
  background-color: transparent;
  border-width: 0px;
}

.list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-item {
  height: 90px;
  width: 100%;
  border: 1px solid #b5b7c4;
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 15px;
}

.list-title {
  font-size: 18px;
  font-weight: 500;
}

.list-date {
  font-size: 14px;
  color: #b5b7c4;
  font-weight: 500;
}
